body {
  background-image: url("https://i.imgur.com/CSt1n2i.jpg");
  text-align: center;
  /* font-family: copperplate, sans-serif; */
}

h1 {
  font-family: impact;
}

h3 {
  font-family: copperplate, sans-serif;
}
